<section class="home navigation canada">
    <div class="center-div aboutus">
        <h1 class="header">About Us</h1>
    </div>
</section>
<section class="main-card">
    <div class="main-div-card flex">
        <div class="about-image articale">
            <h2 class="about-heaher">We are The World's Largest university</h2>
            <br>
            <p class="developer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias vero delectus, explicabo exercitationem repellendus nesciunt, suscipit rerum at mollitia numquam magnam minima. Lorem ipsum dolor sit amet, consectetur. Quae consequatur voluptates alias facere!</p>
            <br>
                <button class="btn minner-button">EXPOLER NOW</button>
        </div>
        <div class="about-image">
            <img src="/images/about.jpg" alt="">
        </div>
    </div>
</section>
 <footer class="harry">
            <div class="afroz-head">
                <h2 class="course">About Us</h2>
                <!-- <p class="lorem"> dolor sit amet consectetur adipisicing elit.</p> -->
            </div>
           <p class="awasome">
            amet consectetur, adipisicing elit. Dignissimos quas nesciunt optio similique Provident tempore, modi <br>quam reprehenderit labore dicta!
           </p>
        </footer>
