<footer class="harry">
    <div class="afroz-head">
        <h2 class="course">About Us</h2>
        <!-- <p class="lorem"> dolor sit amet consectetur adipisicing elit.</p> -->
    </div>
   <p class="awasome">
    amet consectetur, adipisicing elit. Dignissimos quas nesciunt optio similique Provident tempore, modi <br>quam reprehenderit labore dicta!
   </p>
</footer>
